<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
<listeners>
<listener class-name="TestNgPractise.Listener"/>
</listeners>
<parameter name="URL" value="https://www.google.com"/>
  <test name="Personal Loan">
    <classes>
      <class name="TestNgPractise.Day1"/>
      <class name="TestNgPractise.Day2"/>
      <class name="TestNgPractise.Day3"/>
      <class name="TestNgPractise.Day4"/>
       
    </classes>
  </test> 
  
   <test name="Home Loan">
   <classes>
   
   
   
      
    </classes>
    
  </test> 
  
  
</suite> 
